*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.empty{
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

.info{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.dispose{
    display: none;
}

.inf{
    display: grid;
    place-content: center;
    position: fixed;
    width: 20vw;
    height: 20vh;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.infText{
    word-break: break-all;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

div.key{
    top: calc(50% - 10vh);
    left: calc(50% - 10vw);
}

div.code{
    top: calc(25% - 10vh);
    left: calc(30% - 10vw);
}

div.keyCode{
    top: calc(25% - 10vh);
    left: calc(70% - 10vw);
}

div.shiftKey{
    top: calc(60% - 10vh);
    left: calc(85% - 10vw);
}

div.ctrlKey{
    top: calc(80% - 10vh);
    left: calc(50% - 10vw);
}

div.altKey{
    top: calc(60% - 10vh);
    left: calc(15% - 10vw);
}