*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.empty{
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

.info{
    width: 100vw;
    height: 100vh;
}

.dispose{
    display: none;
}

.key{
    display: grid;
    place-content: center;
    position: fixed;
    width: 20vw;
    height: 20vh;
    top: calc(50% - 10vh);
    left: calc(50% - 10vw);
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.keyText{
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}